<template>
    <header class="c-header">
        <div class="c-header__container">
            <div class="c-header__wrapper">
                <a href="#" class="c-header__logo">
                    <img class="c-header__logo-item" src="img/logo.png" alt="logo">
                </a>
                <span class="c-header__logo-description">Сервис для взлома казино.</span>
            </div>
            <button class="c-header__animation-container">
                <span class="c-header__animation-container-button">Участвовать в конкурсе</span>
            </button>
        </div>
    </header>
</template>

<script>
 export default {
  name: "Header"
 }
</script>

<style lang="scss">
    .c-header {
        width: 100%;
        height: 63px;

        &__container {
            display: flex;
            color: #ffffff;
            z-index: 186;
            position: fixed;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.31) 4.17%, rgba(0, 0, 0, 0.31) 97.29%);
            padding: 8px 96px;
            width: 100%;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 41.7%;
        }

        &__logo {
            &-description {
                font-family: Open Sans;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
            }

            img {
                width: 161.6px;
            }
        }


        &__animation-container {
            opacity: 1;
            position: absolute;
            width: 435px;
            height: 87px;
            right: 100px;
            top: 11px;
            background: #FA7800;
            box-shadow: 0 0 109px #FF9900;
            border-radius: 5px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            letter-spacing: 0.3px;
            outline: none;
            border: none;
            cursor: pointer;

            &-button {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 33px;
                color: #FFFFFF;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
            }
        }
    }
</style>
