<template>
    <div class="c-main-page">
        <div class="container">
            <div class="c-main-page__title">
                <h2 class="c-main-page__title-item">Самый крутой конкурс года!</h2>
            </div>
        </div>
        <div class="c-main-page__wrapper">
            <div class="c-main-page__gifts">

                <div class="c-main-page__gifts-item">
                    <p class="c-main-page__gifts-item-text">100 победителей </p>
                    <p class="c-main-page__gifts-item-text-down"> на <span>500 000$</span></p>
                </div>
                <ul class="c-main-page__list">
                    <li class="c-main-page__list-item">Macbook Air 2019 <br> или iPhone 11 Pro Max</li>
                    <li class="c-main-page__list-item">CASIO G-SHOCK MCW-200H</li>
                    <li class="c-main-page__list-item">Премиум трансфер на <br> Филиппины</li>
                    <li class="c-main-page__list-item">Apple AirPods Pro</li>
                    <li class="c-main-page__list-item">14 дней на <br> 50-метровой яхте</li>
                    <li class="c-main-page__list-item">Годовой тариф <br> NeuroBet Silver</li>
                    <li class="c-main-page__list-item">Президентский люкс <br> All inclusive</li>
                    <li class="c-main-page__list-item">Годовой тариф <br> NeuroBet Gold</li>
                </ul>
                <a class="c-main-page__link" href="#">Подробности ниже</a>
            </div>
            <div class="c-main-page__rich">
                <div class="c-main-page__island">
                    <img class="c-main-page__island-item" src="img/island.png" alt="island">
                    <div class="c-main-page__boat">
                        <img src="img/boat.png" alt="">
                    </div>
                    <div class="c-main-page__money">
                        <img src="img/money.png" alt="money">
                    </div>
                    <div class="c-main-page__plane">
                        <img src="img/plane.png" alt="plane">
                    </div>
                </div>
                <div class="c-main-page__water">
                    <img src="img/water.png" alt="water">
                </div>
            </div>
        </div>
        <div class="c-main-page__air-money">
            <img src="img/money2.png" alt="money">
        </div>
        <div class="c-main-page__million">
            <p>Раздаем <br>пол миллиона долларов!</p>
        </div>
        <div class="c-main-page__casino">
            <img src="img/down.png" class="c-main-page__casino-item" alt="casino">
            <div class="c-main-page__casino-arrow">
                <img src="img/arrow.png" alt="arrow">
            </div>
        </div>
    </div>
</template>

<script>
 export default {
  name: "MainPage"
 }
</script>

<style lang="scss">
    .c-main-page {
        &__title {
            padding-top: 44px;
            font-size: 27px;
            width: 50%;

            &-item {
                text-shadow: 2px 0 0 #740000, -2px 0 0 #740000, 0 2px 0 #740000, 0 -2px 0 #740000, 1px 1px #740000, -1px -1px 0 #740000, 1px -1px 0 #740000, -1px 1px 0 #740000;
                color: white;
            }
        }

        &__million {
            transform: skew(-15deg);
            background: rgba(140, 26, 31, 0.82);
            width: 566px;
            height: 152px;
            z-index: 20;
            position: absolute;
            top: 70%;
            right: 5%;
            display: flex;
            align-items: center;
            p {
                transform: skew(15deg);
                font-size: 30px;
                padding: 0 50px;
                color: white;
            }
        }

        &__gifts {
            transform: skew(-15deg);
            background: #a10100;
            width: 600px;
            font-style: italic;
            margin-left: 60px;
            height: 425px;
            margin-top: 100px;
            z-index: 20;

            &-item {
                position: absolute;
                top: 5%;
                left: 44.5%;
                transform: translate(-50%, -50%);
                width: 427px;
                height: 140px;
                background: #d40200;

                &-text {
                    font-size: 45px;
                    font-family: Open Sans;
                    color: white;
                    font-weight: 600;
                    text-align: right;
                    padding: 0 10px;

                    &-down {
                        font-size: 45px;
                        font-family: Open Sans;
                        color: white;
                        font-weight: 600;
                        text-align: left;
                        padding: 0 15px;
                        font-style: normal;

                        span {
                            font-weight: 800;
                            font-style: normal;
                        }
                    }
                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transform: skew(15deg);
            padding: 90px 0 0 75px;
            align-items: center;
            margin-top: 10px;

            &-item {
                list-style: url("../../public/img/fishka.png");
                color: white;
                width: 50%;
                margin: 10px 0 0 0;
                font-family: Open Sans;
                font-style: italic;
                font-weight: 100;
                font-size: 18px;
                align-items: center;
            }

            margin-bottom: 30px;
        }

        &__link {
            font-family: Open Sans;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-style: normal;
            font-weight: 600;
            padding-left: 123px;
            letter-spacing: .7px;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;

        }

        &__rich {
            z-index: 0;
        }

        &__island {
            position: relative;
            &-item {
                width: 828px;
                height: 493px;
                object-fit: scale-down;
            }
        }
       &__boat {
           img {
               width: 671.93px;
               height: 371.9px;
           }
           position: absolute;
           top: 50%;
           z-index: 20;
           right: 35%;
       }
        &__money {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 20;
            img {
                width: 217px;
                height: 226px;
            }
        }
        &__plane {
            position: absolute;
            top: 0;
            right: 0%;
            z-index: 20;
            img{
                width: 370px;
                height: 96px;
            }
        }
        &__air-money {
            position: absolute;
            top: 18%;
            left: 12%;
            z-index: 0;
            img {
                width: 1193px;
            }
        }
        &__water {
            position: absolute;
            top: 40%;
            right: 0;
            img {
                width: 1206px;
                height: 468px;
                z-index: 0;
            }
        }
        &__casino {
            position: relative;
            margin: 0 auto;
            text-align: center;
            margin-top: -90px;
            &-item {
                z-index: 20;
                width: 206px;
                object-fit: contain;
                &:hover {
                    animation: rotate 1s linear infinite;
                }
            }
            &-arrow {
                position: absolute;
                top: 50%;
                right: 48.25%;
                transform: translate(-50%, -50%);
                &:hover .c-main-page__casino-item {
                    animation: rotate 1s linear infinite;
                }
                img {
                    width: 27px;
                    height: auto;
                }
            }
        }
    }
    @keyframes rotate {
        from {
            transform: rotate(360deg);
        }
    }
</style>
