<template>
  <div id="app">
    <Header/>
    <MainPage/>
  </div>
</template>

<script>

import Header from "./components/Header";
import MainPage from "./components/MainPage";

export default {
  name: 'App',
  components: {
    Header,
    MainPage,
  }
}
</script>

<style lang="scss">
 * {
   margin: 0;
   padding: 0;
   font-family: "Open Sans";
   transition: all .3s;
   box-sizing: border-box;
 }

 #app {
   display: flex;
   flex-direction: column;
   background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0, .45)), url('../public/img/theme.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   text-decoration: none;
   flex: 1 1;
 }

  .container {
    margin: 0 auto;
    max-width: 1260px;
  }
</style>
